body {
    display: flex;
    flex-direction: column;
    font-family: 'Playfair Display', serif;
    color: #333;
    background: linear-gradient(135deg, #FAF0F4 0%, #FFC1C8 100%);
    justify-content: space-between;
    height: 100vh;
    margin: 20px 0 0;
    padding-top: 160px;
}
main {
    margin-left: 15%;
    margin-right: 15%;
    flex-wrap: wrap;
}
header input[type="search"] {
    margin-right: 1rem;
}
#site-title {
margin-bottom: 1rem; /* space between title and search input */
}

@media (min-width: 600px) {
    #siteSearch {
        width: 50%; 
    }
}
footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #FAF0F4;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    box-sizing: border-box; /* This is crucial! */
    text-align: center;
}
#siteSearch {
    width: 100%;  /* Full width on small screens */
    max-width: 400px;  /* But not more than 400px wide */
    }

    @media (min-width: 600px) {
    /* On screens that are 600px wide or more, make the search bar smaller */
    #siteSearch {
    width: 50%;  /* 50% of the container's width */
    }
}

    nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}